{{#partial "content"}}

    <div class="jumbotron text-xs-center">
        <h1 class="display-3">Sucessfully added!</h1>

        <hr>
        <p>
            Having trouble?<a href="">Contact us<strong href="">jkmigiro@gmail.com</strong></a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
            <a class="btn btn-primary btn-sm" href="/login" role="button">You can now login Here</a>
        </p>
    </div>


{{/partial}}
{{> layout.hbs}}
