{{#partial "content"}}

    <div class="jumbotron text-xs-center">
        <h1 class="display-3 alert-success">Logged in successfully</h1>
        <hr>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="/sightingsnormal" role="button">Add normal animal</a>
            <a class="btn btn-primary btn-sm" href="/sightingsendangered" role="button">Add endangered animal</a>
<!--            <h2 class="alert-success">Your ID is <strong></strong>.Use it when entering a sighting.</h2>-->
        </p>
    </div>


{{/partial}}
{{> layout.hbs}}
